# Виртуальные окружения (самые тяжелые папки, их грузить категорически нельзя)
venv/
.venv/
env/

# Настройки среды разработки PyCharm (твои личные настройки интерфейса)
.idea/

# Временные и кэшированные файлы Python (создаются автоматически при запуске)
__pycache__/
*.pyc

# Папки и файлы, которые появляются при сборке в .exe (если будешь делать)
build/
dist/
*.spec

# Системные файлы Windows и macOS
.DS_Store
Thumbs.db